<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Tesitng the title</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <p th:unless="${cheeses} and ${cheeses.size()}">no cheeses :-(</p>
    <ul th:each="cheese : ${cheeses}">
        <li><span th:text="'Cheese Name: ' + ${cheese.key} + ' - Description : ' + ${cheese.value} + ' ' "></span> <a th:href="'/cheese/remove/?cheeseName='+${cheese.key}">[X]</a></li>
    </ul>
    <p class="error" th:text="${error}"></p>
</body>
</html>